.option{
  background-color: #ffffff;
  padding: 0rem .5rem;
  border-bottom: 1px solid #718093;
  // width: 100%;
  // display: flex;
  color: #222f3e;
  align-items: center;
}

.option > * {
  margin-left: 20px;
}

