.selected {
  background: #DFE6E9;
  border-radius: 0.2em;
  display: flex;
  /* width: 100%; */
  /* justify-content: right; */
  padding: 0.6em 1em;
  align-items: center;

  & > * {
    margin-right: 1em;
  }
}

h1 {
}

.close {
  font-size: 18px;
  // color: white;
  color: #ff6b6b;
  cursor: pointer;
  // position: absolute;
  // top: 50%;
  // right: 5%
}

// h1:hover {
//   color: #ee5253;
//   transition: color .3s ease-in-out;
// }
