<mat-tab-group preserveContent>
  <mat-tab label="Americas">
    <!-- <app-tab-contents
      [dataArr]="southAmericaData"
      [month]="7"
      [years]="2"
    ></app-tab-contents> -->
  </mat-tab>
  <mat-tab label="EMEA">
    <!-- <app-tab-contents
      [dataArr]="europeData"
      [month]="7"
      [years]="2"
    ></app-tab-contents> -->
  </mat-tab>
  <mat-tab label="APAC">
    <app-tab-contents
      [dataArr]="usData"
      [month]="7"
      [years]="2"
    ></app-tab-contents>
  </mat-tab>
  <mat-tab label="Commodities">
    <!-- <app-tab-contents [month]="7" [years]="2"></app-tab-contents> -->
  </mat-tab>
  <mat-tab label="Indsutry">
    <!-- <app-tab-contents [month]="7" [years]="2"></app-tab-contents> -->
  </mat-tab>
</mat-tab-group>
