.container {
  // width: 100%;
  display: flex;
  // flex: 1 1 auto;
  flex-wrap: wrap;
  box-sizing: border-box;

  & > * {
    // padding: 1em;
    margin-top: 1em;
  }

  .heading {
  min-width: 15em;

    h1 {
      font-size: 3em;
      color: black;
      font-family: var(--figure-font);
      font-weight: bold;
      margin: 0.5em 0;

    }

    hr {
      max-width: 600px;
      color: #FDCB6E;
      border: none;
      height: 1.5em;
      /* Set the hr color */
      background-color: #FDCB6E; /* Modern Browsers */

    }
  }

  main {
    // width: 100em;
    max-width: 100%;
  }
  table {
    width: 100em;
    max-width: 100%;
    border-collapse: collapse;
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      font-family: var(--figure-font);
      border: none;
    }

    th {
      font-size: 2em;
      color: #2f3542;
    }

    td {
      font-size: 1.3em;
      color: #57606f;
    }

    tr:nth-child(even) {
      background-color: #dfe4ea;
    }
    tr:nth-child(odd) {
      background-color: #fff;
    }

    th:nth-child(4),
    td:nth-child(4),
    td:nth-child(5),
    th:nth-child(5) {
      display: none;
    }

  }


  .movers-container {
    min-width: 20em;
    height: 4em;
    max-width: 100%;
  }

  // .aisle {
  //   width: 33%;
  // }

  // aside {
  //   width: 33%;
  // }
  // main {
  //   width: 66%;
  // }
}

 .card-container {
  display: flex;
  flex-direction: column;
}

.container .movers-container  {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 100px) and (max-width: 719px){

  .container .movers-container  {
    display: flex;
    // width: 100%;
    // flex-direction: row;
    & > *{
      width: 100%;
    }
  }

}
@media(min-width: 3000px) {

  .container {

    & > * {
      // padding: 5em;
    }
  }
}


@media screen and (min-width: 1224px){
  main {
    width: 70%;
  }
  .heading {
    min-width: 20em;
  }
}

@media (min-width: 720px) and (max-width: 1224px) {
  .container .movers-container {
    width: 100%;
    flex-direction: row;

    & > * {
      width: 50%;
    }
  }
}
